.game{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(350px, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
}